In [2]:
#prepare a machine learning model to predict whether the person is foffering from diabetes or not
#classification problem

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_score, recall_score, f1_score
import joblib

WARNING:tensorflow:From c:\Users\LENOVO\anaconda3\envs\ml_env\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
from tensorflow import keras

In [3]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.shape # no of rows and columns

(768, 9)

In [5]:
#basic info of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
#didvide the dataset into dependent and independent  variables
X = df.drop(columns = "Outcome")
y = df["Outcome"]

In [7]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [8]:
#normalixze the features
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [9]:
#save the scalar
joblib.dump(scaler, "Scaler.pkl")

['Scaler.pkl']

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [11]:
#build
model = keras.Sequential([
    keras.layers.Dense(16,activation="relu",input_shape = (X.shape[1],)),#input layer
    keras.layers.Dense(8,activation="relu"),#hidden layer
    keras.layers.Dense(1,activation="sigmoid")#output
]

)

WARNING:tensorflow:From c:\Users\LENOVO\anaconda3\envs\ml_env\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [12]:
model.summary()#printing the summary of the model

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                144

 dense_1 (Dense)             (None, 8)                 136

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 289 (1.13 KB)
Trainable params: 289 (1.13 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
#comploie model
model.compile(optimizer = "adam",loss = "binary_crossentropy")

WARNING:tensorflow:From c:\Users\LENOVO\anaconda3\envs\ml_env\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [14]:
#trrain model
model.fit(X_train,y_train,epochs = 50,batch_size = 10,validation_data = (X_test,y_test))

Epoch 1/50
WARNING:tensorflow:From c:\Users\LENOVO\anaconda3\envs\ml_env\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

62/62 [==============================] - 1s 6ms/step - loss: 0.6493 - val_loss: 0.6376
Epoch 2/50
62/62 [==============================] - 0s 2ms/step - loss: 0.5865 - val_loss: 0.5742
Epoch 3/50
62/62 [==============================] - 0s 2ms/step - loss: 0.5447 - val_loss: 0.5390
Epoch 4/50
62/62 [==============================] - 0s 2ms/step - loss: 0.5172 - val_loss: 0.5106
Epoch 5/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4969 - val_loss: 0.4925
Epoch 6/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4833 - val_loss: 0.4838
Epoch 7/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4733 - val_loss: 0.4781
Epoch 8/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4679 - val_loss: 0.4757
Epoch 9/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4630 - val_loss: 0.4745
Epoch 10/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4599 - val_loss: 0.4753
Epoch 11/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4567 - val_loss: 0.4748
Epoch 12/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4532 - val_loss: 0.4767
Epoch 13/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4511 - val_loss: 0.4750
Epoch 14/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4498 - val_loss: 0.4770
Epoch 15/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4475 - val_loss: 0.4755
Epoch 16/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4463 - val_loss: 0.4756
Epoch 17/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4435 - val_loss: 0.4768
Epoch 18/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4425 - val_loss: 0.4797
Epoch 19/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4410 - val_loss: 0.4774
Epoch 20/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4397 - val_loss: 0.4790
Epoch 21/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4381 - val_loss: 0.4780
Epoch 22/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4366 - val_loss: 0.4779
Epoch 23/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4348 - val_loss: 0.4793
Epoch 24/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4343 - val_loss: 0.4815
Epoch 25/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4323 - val_loss: 0.4818
Epoch 26/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4323 - val_loss: 0.4814
Epoch 27/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4310 - val_loss: 0.4833
Epoch 28/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4298 - val_loss: 0.4839
Epoch 29/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4282 - val_loss: 0.4856
Epoch 30/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4288 - val_loss: 0.4843
Epoch 31/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4278 - val_loss: 0.4836
Epoch 32/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4269 - val_loss: 0.4868
Epoch 33/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4258 - val_loss: 0.4865
Epoch 34/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4243 - val_loss: 0.4865
Epoch 35/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4230 - val_loss: 0.4875
Epoch 36/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4230 - val_loss: 0.4863
Epoch 37/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4216 - val_loss: 0.4878
Epoch 38/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4207 - val_loss: 0.4877
Epoch 39/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4197 - val_loss: 0.4930
Epoch 40/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4185 - val_loss: 0.4904
Epoch 41/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4186 - val_loss: 0.4898
Epoch 42/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4179 - val_loss: 0.4936
Epoch 43/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4167 - val_loss: 0.4932
Epoch 44/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4155 - val_loss: 0.4962
Epoch 45/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4154 - val_loss: 0.4951
Epoch 46/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4139 - val_loss: 0.4946
Epoch 47/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4123 - val_loss: 0.4969
Epoch 48/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4132 - val_loss: 0.4980
Epoch 49/50
62/62 [==============================] - 0s 3ms/step - loss: 0.4113 - val_loss: 0.4964
Epoch 50/50
62/62 [==============================] - 0s 2ms/step - loss: 0.4122 - val_loss: 0.4982

In [15]:
#making ppredictions and converting it into integer variables
y_predict = model.predict(X_test)
y_predict = (y_predict > 0.5).astype("int32")

5/5 [==============================] - 0s 2ms/step

In [16]:
#calculate the performance metrics
accuracy = accuracy_score(y_test,y_predict)
precision = precision_score(y_test,y_predict)
recall = recall_score(y_test,y_predict)
f1 = f1_score(y_test,y_predict)
cm = confusion_matrix(y_predict,y_test)
cr= classification_report(y_test,y_predict)

In [17]:
#print all the performance metrices
print("the accuracy of our diabetic prediction model is ",accuracy)
print("the precision of our model",precision)
print("the recall of our model is ",recall)
print("the f1 score of our model is ",f1)
print("the confusion matrix of our model is ",cm)
print("************The classification report**********")
print(cr)

the accuracy of our diabetic prediction model is  0.7857142857142857
the precision of our model 0.7391304347826086
the recall of our model is  0.6181818181818182
the f1 score of our model is  0.6732673267326733
the confusion matrix of our model is  [[87 21]
 [12 34]]
************The classification report**********
              precision    recall  f1-score   support

           0       0.81      0.88      0.84        99
           1       0.74      0.62      0.67        55

    accuracy                           0.79       154
   macro avg       0.77      0.75      0.76       154
weighted avg       0.78      0.79      0.78       154

In [18]:
model.save("Diabetic_model.h5")
print("The model has been saved")

The model has been saved

c:\Users\LENOVO\anaconda3\envs\ml_env\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(